{% extends 'base.html.twig' %}

{% block title %}
    Room List
{% endblock %}

{% block body %}
   
    <h1>Room List</h1>

    {% for room in rooms %}
        <a href="{{ path('room', {'id': room.id }) }}">Room {{ room.id }}</a>
    {% endfor %}

    <h2> Create a room </h2>
    {{ form_start(form) }}
        <input type="submit">
    {{ form_end(form) }}
{% endblock %}